html,body {                     /*this we use when extra white space occurred in html page at left,right, */
    margin:0;                    /*right, top and bottom */
    padding:0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
  font-family: "Montserrat";
}
#title {
  background-color: #ff4c68;
  color: #fff;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size:  3rem;
}
.container-fluid {
padding: 3% 15%;
  }
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download Buttons */
.Download-button {
  margin: 5% 3% 5% 0;
}
/* title block */
.title-block {
  margin-bottom: 5%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 13%;
  /* position: absolute; */
}


/* features - section */
#features {

    text-align: center;
    margin: 6rem 8rem;
    background-color: #fff;
    /* position: relative;
    z-index: 1; */
}
.feature-row {
  padding-right: 2rem;
}
.title-para {
  color: #c1c0b9;
  line-height: 2;
  text-align: center;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  font-family: sans-serif;
}
h3 {
  font-weight: normal;
  padding-top: 1rem;
}
.try {
  width: 100%
  height: 90%
}
.feature-box {
  margin-bottom: 2rem;
  background-color: #fff;
}

.fas {
  color: #ef8172;
}
.fas:hover{
  color: #ff4c68;
}

/* testimonial sections */

#testimonials {

  text-align: center;
  background-color: #ef8172;
}

h2{
  font-family: "Montserrat";
  color: #fff;
  line-height: 1.5;
  font-size: 300%;
}
em {
  color: #fff;
}

.testimonial-img {
   border-radius: 100%;
   margin: 20px;
   width:20%;
}
.carousel-item {
  padding: 6rem 8rem;
}

/* press-section */
#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 2rem;
}
.press-image {
  padding: 2rem 1rem;
  width: 20%;
}

/* pricing  */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 1.5rem;
}
.pricing-para {
  color:  #c1c0b9;
}
.pricing-h2 {
  color: black;
}

/* cta-section */
#cta {
  background-color: #ff4c68;
  text-align: center;
}
.cta-heading {
  padding-top: 100px;
    padding-bottom: 40px;
    color: #fff;
}
.cta-button {
  margin-bottom:30px;
  margin-left: 15px;
  margin-right: 15px;
}
/* footer-section */
#footer {
  background-color: #fff;
  text-align: center;
  margin-top: 80px;
}
.Contact-icon {
  color: #000;
  margin: 10px 5px;
}

/* media-query */
/* it is a CSS propery which is used for web responsive pages creation */
@media (max-width:993px) {
  #title {
    text-align: center;
  }
  .title-image {
    transform: rotate(0deg);
    padding-right: 50px;
  }
}
